body {
    background-color: black;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

img {
    display: block;
    object-fit: fill;
    width: 100%;
    height: 100%;
    position: absolute;
}

p {
    z-index: 10;
    color: red;
    background-color: none;
    margin: none;
    padding: none;
    font-size: 30px;
    position: absolute;
    font-weight: bold;
    font-family: 'Comic Sans', 'Comic Sans MS', 'Arial';
}

div.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#dales {
    position: static;
}

#scene {
    position: static;
}